*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #111;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: #909497;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #dadada;
    box-shadow: 0 5px 10px grey ;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;

}
.navigation li{
    list-style: none;
    padding: 0 30px;
}

.search{
    display: flex;
}

.wishlist{
    display: flex;
    gap: 30px;
}

.navigation li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #030b50;
    transition: 0.3s;
}

.navigation li a:hover{
    border: none;
    border-radius: 15px;
    background-color: #626dca;
    padding: 10px;
    color: #fff;
    cursor: pointer;

}

.navigation li a.active{
    color: orange;
    font-size: 18px;
}


#search-img{
    border: none;
    border-radius: 4px 0 0 4px;
    background: #92b2c4;
    padding: 5px;
}

#search-text{
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    padding-left: 10px;

}

.wholeproducts{
    background-image: url("images/allin.png");
    background-color: #dadada;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 90vh;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 38px;
    padding: 0 120px;
    

}

.wholeproducts h4{
    font-size: 60px;
    font-style: italic;
    padding-bottom: 15px;
}

.wholeproducts p{
    padding-top: 5px;
    color: #030b50;
}

.wholeproducts button{
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin: 30px;
    color: orange;
    font-weight: 500;
    transition: 0.5s

}

.wholeproducts button:hover{
    background-color: #626dca;
    color: #fff;
    text-decoration: underline;
}

#products1{
    background: #dadada;
    margin: 30px 30px;
    text-align: center;
    padding: 50px 50px;
    
   
}

.products1-0{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.products1-0 img{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 200px;
    padding-top: 20px;
    
}

.products1-0-1{
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.products1-0-1 h4{
    padding-top: 30px;
}

.products1-0-1:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 20px grey;
}

.products1-0-2{
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.products1-0-2 img{
    padding-top: 0px;
}

.products1-0-2:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 20px grey;
}

.products1-0-3{
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.products1-0-3 img{
    padding-top: 0px;
    padding-bottom: -10px;
}

.products1-0-3:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 20px grey;
}

.products1-0-4{
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.products1-0-4 h4{
    padding-top: 40px;
}

.products1-0-4:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 20px grey;
}

.Laptops{
    background: #dadada;
    margin: 30px 30px;
    text-align: start;
    padding: 50px 50px;
}

.listof-laptops{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 25px;
    margin-left: -50px;
}

.Hp{
    background: white;
    padding: 20px 10px;
    text-align: center;
    border-radius: 20px;
    
}

.Hp button{
    border: none;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    color: orange;
    font-weight: 500;
    transition: 0.5s;
}

.Hp button:hover{
    background-color: #626dca;
    color: #fff;
    text-decoration: underline;
}

.footer button{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #aab7b8;
}

.footer-heading{
    background: #dadada;
    display: flex;
    justify-content: space-between;
    padding: 70px 120px;
}

.footer-items{
    padding-top: 20px;
}

.footer-items ul li{
    list-style: none;
    padding-top: 5px;
}

.view{
    display: flex;
    justify-content: space-between;
}

.view button{
    background-color:  #626dca;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}










